# SYD DAT 5 Lab 1 - Git and Markdown

##Homework:

#### Setup (Done) 
* Resolve any installation issues before next class.  (Done)
* Make sure you have a github profile and created a repo (Done) 
* Clone the class repo (this one!) (Done) 
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics. (Done) 

#### Communication 
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article. 

###### Key Point 1
There are four types of data scientist. 
   •	Data Business People,
Data Business People are more focused on the organization and how data projects yield profit. Like a business management consultant. Usually have a business management degree. 
   •	Data Creatives, 
Often tackle the entire soup-to-nuts analytics process on their own – excel at applying a wide range of tools and technologies to a problem. Like hacker or hacking artist. Commonly have undergraduate degrees in Economics and Statistics. 
   •	Data Developers
Focused on technical problem of managing data – how to get it, store it and learn from it. Like a data engineer who would write code and develop the product. Usually have a computer science degree or computer engineering degree. 
   •	Data Researcher
Academic research in the physical or social sciences, or in statistics with the data. Nearly 75% have published in peer-reviewed journals and over half have a PhD degree. 

###### Key Point 2
Data Scientist is a very generic word, similar to simply 'doctor', 'lawyer' etc. A specific type of data scientist should be identified to suit specific problems. 

###### Key Point 3
Many company looks for the title of data scientist but the job requirement doesn’t align the skills of a data scientist. Fail to communicate clearly the role’s required skills, costing both candidate and company time and expenses. People without clear understanding of data scientist would expect God-like capability. 

###### Key Point 4.
There are 22 generic skills spanned the range of useful things data scientist might do as below. 
data scientist's skills: ![whatever](data_skills.png)

###### Key Point 5 
Not all data people work with data size above Gigabytes-level. 

###### Key Point 6 

What a data scientist can do within a large organization include: 
1. Personalization model for product 
2. Controlled experiments for a marketing group
3. Forecasting for finance group 
4. Process optimization for operation group 

question 
What are the non-data-scientist employees' sentiment towards talented data scientists within the same organization, particularly those of middle-management level?  Intiminated? 


* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax) (Done) 
* Write a summary of a chapter of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

Michalangelo D’Agostino – The Election as Physical Science 

###### What Michalangelo D’Agostino has done in the past and what’s he doing now? 
Prior to working in data science, Michelangelo was an undergrad at Harvard in physics. He finished his PhD in astrophysics. He started his data science career as a senior analyst in digital analytics with the 2012 Obama re-election campaign where he assisted in optimizing the campaign’s email fundraising efforts and analysed social media data. Afterwards, he worked as Lead Data Scientist at Braintree before he re-joined many of his former colleagues from the Obama re-election team at Civis Analytics. At Civis Analytics, Michelangelo works on
statistical models and writes software for data analysis.

###### Michalangelo’s first experience in apply data science technique in physical science. 

He was doing a neutrino physics experiment called IceCube in South Pole. The experiment involved burying sensors to measure cosmic neutrinos. Data Science came in as a method to determine what’s signal and what is background in terms of the collected measurement. He used a lot of neural networks to do pattern recognition for a particular kind of neutrino signal in the detector that was relevant. 

###### Michalangelo’s involvement and contribution for the Obama’s re-election campaign. 

The key realization from him was that his work was not dissimilar to the things he was doing in physics. He spent lot of time in writing Python code to grab data from APIs or to scrape data, similar to writing data acquisition code in physics. Instead of particle physics models, I was building statistical models, predictive models to predict how much money a fundraising email was going to make from its early returns. 

###### Michalangelo’s advice to graduate and PhD students about transition into doing data science work in a non-academic organization. 

Grad School and PhD degree provided a good environment in training someone’s ability to handle challenging problems and develop emotional strength to tackle these problems. 

About transition into non-academic field, the advice included: 
 -	to recognize the skills and experience that one has from their grad school or PhD program. Examples include works that demonstrate that one can work on problems outside your academic specialty, and show that one really has the initiative.
 -	The job market in academic research in physics is challenging. 
 -	There are many different types of data science jobs from commercial organization. It’s important to clarify the actual expectation from the company and understand their current organizational structure in working data-related tasks. 
 -	Organization has a large amount of data but this data is not necessarily being used effectively. They are seeking people with data science skills to carry out the work.   

###### Michalangelo’s opinion on data science’s progress in public relationship

There are many resources and online media effort being put into inform and educating people about the work, techniques and project involved in data science. It’s positive. 
   
Michalangelo’s thoughts on the hype of data science

He is worried that data science is being hyped up right now. I think that trend is going to continue, and organization is going to want people to help them analyze that data. All the hype has not just been around data science but about tools. The term big data has become an overused, overhyped thing. To him, it’s not about the amount of data but what to do with the data and how to apply it to problems and what interesting things could be done.That’s so much more important.

The skills Data scientist needs to do that just don’t come from a single discipline like statistics or computer science. Data scientists should have all the interdisciplinary aspects of what people call data science.


#### Programming (Done) 
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:

#### Idea 1: to find great-value real estate properties to buy, live and raise a family based on people’s criteria 

The idea is to develop search algorithm to identify real estate properties that are of the best value to buy, live and raise a family based on people’s criteria 

Analytical approach

Off the top of my head, people usually care about the followings when making a decision about buying a house to live and raise a family:
-	Type of real estate properties 
-	Price 
-	Bedroom numbers 
-	Car space 
-	Total space or areas of the properties 
-	Distance to workplace 
-	Distance proximity to shop, school, public transportation and popular leisure spots 
-	Neighbourhood characteristic e.g noise, safety 
-	Potential financial gain potential  

To make sure I don’t miss out on any other key factors, a search for understanding the sentimental factor is required. These factors should be rated with a score in percentage with input from users to rank these factors and find their most desired property. 

The greatest challenge would be gathering the data and formatting them. 

After gathering all necessary data, develop the algorithm to give out properties in a report format with the best score based on user inputs. Visualization of the data and in-depth data exploration would be involved to work on the algorithm. 

###### What data you will use, and how you will collect it

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Current properties for sales data     | Online research, Domain.com or other properties data service website |
| Past 5-year sales of each properties in each suburbs <br> with bedroom details     | www.lpi.nsw.gov.au or website  |
|General Categorical data of factors that people think about when buying a house to live | Survey data or web scrape the data  |
| Data of land price in each suburbs      | www.lpi.nsw.gov.au  |
| Data of current rental yield of each properties in each suburbs     | Online research, Domain.com or other properties data service website   |
| Data of past capital growth in each suburb  | Survey data or web scrape the data  |
| Geographic data of existing shops, school  <br> and public transportation infrastructure      | Google Map  |
| Current commenced infrastructure project   |Hopefully government or credible website provide the dataset otherwise, web scrape news online  |
|Future infrastructure development plan with geographical information | Hopefully government or credible website provide the dataset otherwise, web scrape news online |

###### What the outcome is that you are trying to achieve
 -	to find great-value real estate properties to buy, live and raise a family based on people’s criteria
###### Any ideas of modelling techniques it may involve
-	Not sure what modelling techniques are suitable for data clustering work 

#### Idea 2: Bottom-up Analytical Study into the relevance between real estate (RE) price movement and the driving factors & development of future RE pricing predictive model 

With the dataset of all real estate property transaction within NSW in the past 5 years, it would seem possible to bypass the factor-to-result analysis but reverse the process by studying the transaction data with a statistic approach to find any interesting property transaction patterns. If interesting patterns are found, we could identify the timing of these patterns and find the connection with the actions in the real world. Hopefully it could lead to a fact-based relationship between the driving factors and the real estate property price. Ideally it’s to develop a 2-D relationship between the price and each factor. 

These driving factors would be used as the dependant variables and train the sales data to develop a predictive model for predicting the future real estate price. The integrity of the predictive model would be tested and verified by future sales data or dataset of other region’s real estate transaction.  

For analysing the past transaction pattern

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Past 5-year sales of each properties in each suburbs     | dataset found from www.lpi.nsw.gov.au |

For studying the driving factors after patterns are found 

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Past property plants development decision | Hopefully government or credible website provide the dataset otherwise, web scrape news online|
|Demographics change in each suburb and surround suburb  | Government website – e.g Australian Bureau of Statistics|
|Past public transport infrastructure project decision and progress | Hopefully government or credible website provide the dataset otherwise, web scrape news online |
|Regional average income growth and economic growth  | Government website – e.g Australian Bureau of Statistics|
|Government policy change | Hopefully government or credible website provide the dataset otherwise, web scrape news online |
|Government monetary event | web scrape news online from government website |

For predicting the future after successful analysis of the past

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Currently announced future property plants development plan  | Hopefully government or credible website provide the dataset otherwise, web scrape news online|
|Currently announced future public infrastructure plan | Hopefully government or credible website provide the dataset otherwise, web scrape news online|
|Depends on identified driving factors | Web scrape  |

###### What the outcome is that you are trying to achieve
-	To identify the RE property transaction pattern within NSW in the past 5 years 
-	To identify and understand the key factors that drives the real estate price change and eliminate other less influential factors 
-	To develop a predictive model to predict future median sale price change for each suburb 

###### Any ideas of modelling techniques it may involve
-	Linear Regression for the predictive modelling  
 
#### Idea 3: predicting electricity infrastructure service provider’s spending in power transformers 

Power transformers are electrical equipment used to perform electricity voltage step-up or step down within the electricity grid. They are installed in a substation and many of them are connected in the National Electricity Grid in Australia to form a national electricity network. Electricity passes through these transformers in a form of electrical energy, placing electrical stress to these transformers. The amount of electricity passing through these transformers can be measured by electricity demand on these nodes as per unit MVA. As demand increases and approach the capacity of existing transformers, the need to purchase and install new transformer become a reality to avoid overloading and cause potential electrical failure in the network. When electrical failure occurs to transformers, the connected electricity network would not provide electricity to the places that require electricity. 

By studying the current capacity of transformers within a particularly electricity network and the peak demand of the network, we could assess the adequacy of the current transformers capacity. By predicting the future demand and its behaviour within a network, we could predict the future purchasing needs of new power transformers from the network operator.   

###### What data you will use, and how you will collect it
For analysing the current transformer capacity and demand 

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Dataset of currently in-services transformers within the National Electricity Grid  | AEMO.com.au– Australian Energy Market Operator <br> https://www.aer.gov.au - Australian Energy Regulator |
|Newly established heavy electricity users within the region such as new industrial operation  | government or credible website provide the dataset otherwise, web scrape news online|

For studying the driving factors and training the data

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Past weather data   | www.bom.gov.au - Bureau of Meteorology |
|Demographics change in the areas of the interested electricity network | Government website – e.g Australian Bureau of Statistics |
|Demographics change in the areas of the interested electricity network | Government website – e.g Australian Bureau of Statistics |

###### What the outcome is that you are trying to achieve
-	To identify networks that electricity demand is within 20% less than the current transformer capacity.  
-	To develop a predictive model to predict future electricity demand movement. 

###### Any ideas of modelling techniques it may involve
-	Linear Regression for the predicting future electricity demand movement. 

#### Idea 4: to find best valued commercial real estate with the most vehicle traffic within Sydney for a business idea to serve the people driving passing through the road

With the availability of traffic volume data of Sydney from www.rms.nsw.gov.au and the real estate price data, it would seem possible to identify the best valued commercial real estate with the most vehicle traffic to open up a business that could serve the people driving passing through the spot. 

For finding roads with busy daily traffic within Sydney and low-priced commercial real estates. 

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Traffic volume data of Sydney     | www.rms.gov.au    |
| Commercial real estate price dataset   | Domain.com, www.lpi.nsw.gov.au and other property service provider |

###### What the outcome is that you are trying to achieve
-	Find a good-value commercial real estate with high traffic volume passing through. 

###### Any ideas of modelling techniques it may involve
-	Not sure what modelling techniques it can be used for clustering work 

#### Idea 5: to find the most suited land space for installing the next large-scale solar farm within Australia 

To install and operate a new solar farm, it’s crucial to find out an empty land with high solar photovoltaic energy and close distance for connection to the national electricity network 

By analysing the Australian solar photovoltaic data from http://pv-map.apvi.org.au/ and geographic data of the Australian National Electricity Network, one could identify a suitable location for installing the next large-scale solar farm within Australia to have the low requirement for building high-voltage electrical connection to the grid and high exposure to solar photovoltaic energy. 

###### What data you will use, and how you will collect it

For finding the location mentioned above

| Data to be used       | How to collect the data |
| -------------         |:-------------:          |
| Australian Solar Photovoltaic Data | http://pv-map.apvi.org.au/   |
| Geographic data of National Electricity Grid  |AEMO.com.au– Australian Energy Market Operator 
<br> https://www.aer.gov.au - Australian Energy Regulator |

###### What the outcome is that you are trying to achieve
-	Find a land space with the close distance to the national electricity grid and high solar photovoltaic energy.   

###### Any ideas of modelling techniques it may involve
-	Not sure what modelling techniques it can be used for clustering work 

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Exercise Four - Movie Lens Data

In [1]:
import pandas

In [18]:
user_cols = ['user_id','age', 'gender', 'occupation', 'zip_code']
users = pandas.read_table('u.user', sep = '|', header=None, names=user_cols, index_col = 'user_id', dtype={'zip_code':str})

In [19]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [20]:
# for each occupation, calculate the mean age
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [21]:
# for each occupation, calculate the minimum and maximum ages

users.groupby('occupation').age.min()
users.groupby('occupation').age.max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [22]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation', 'gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [23]:
# randomly sample a DataFrame
users.sample(frac=0.2)

         age gender     occupation zip_code
user_id
321       49      F       educator    55413
1         24      M     technician    85711
66        23      M        student    80521
369       24      M        student    91335
778       34      M        student    01960
857       35      F  administrator    V1G4L
441       50      M     technician    55013
789       29      M          other    55420
705       21      F        student    54494
456       24      M     technician    31820
167       37      M          other    L9G2B
882       35      M       engineer    40503
520       62      M     healthcare    12603
149       35      F      marketing    17325
715       21      M     technician    91206
409       48      M  administrator    98225
140       30      F        student    32250
79        39      F  administrator    03755
415       39      M       educator    85711
756       30      F           none    90247
875       24      F        student    35802
619       17      M        student    44134
164       47      M     healthcare    80123
129       36      F      marketing    07039
394       25      M  administrator    96819
801       22      M         writer    92154
582       17      M        student    93003
597       23      M          other    84116
165       20      F          other    53715
604       39      M       educator    11787
...      ...    ...            ...      ...
649       20      M        student    39762
909       50      F       educator    53171
912       51      M          other    06512
794       32      M       educator    57197
858       63      M       educator    09645
279       33      M     programmer    85251
727       25      M        student    78741
817       19      M        student    60152
842       40      M         writer    93055
586       20      M        student    79508
323       21      M        student    19149
462       19      F        student    02918
589       21      M         lawyer    90034
877       30      M          other    77504
458       47      M     technician    Y1A6B
20        42      F      homemaker    95660
863       17      M        student    60089
855       53      M      librarian    04988
450       35      F       educator    11758
506       46      M     programmer    03869
205       47      M         lawyer    06371
38        28      F          other    54467
73        24      M        student    41850
350       32      M        student    97301
320       19      M        student    24060
575       33      M      marketing    46032
40        38      M      scientist    27514
185       53      F      librarian    97403
54        22      M      executive    66315
554       32      M      scientist    62901

[189 rows x 4 columns]

In [24]:
# detect duplicate users

In [25]:
refinded_users = users.drop_duplicates()

In [26]:
refinded_users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[936 rows x 4 columns]